<% if @user.errors.any? %>

  <h2><%= @user.errors.count %>errors prohibited this  from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="user-edit">
  <div class="bottom-color">登録情報編集</div>
  <div class="user-edit__container">
    <%= form_for @user do |f| %>

      <div class="user-edit__container__label">
        <%= f.label :name, "名前", class: "" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="user-edit__container__label">
        <%= f.label :name_k, "ナマエ", class: "" %>
        <%= f.text_field :name_k, autofocus: true, autocomplete: "name_k", class: "form-control" %>
      </div>

      <div class="user-edit__container__label">
        <%= f.label :image, "プロフィール写真" %><br>
        <%= f.file_field :image, class: "form-control" %><br>
      </div>

      <div class="user-edit__container__label">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    
      <div class="user-edit__container__label">
        <%= f.label :age, "年齢" %>
        <%= f.number_field :age, autofocus: true, autocomplete: "age", class: "form-control" %>
      </div>

      <div class="user-edit__container__label">
        <%= f.label :phone_number, "電話番号" %>
        <em>(ハイフンなし)</em>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
      </div>

      <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


