<div class="home-about__suggestion text-center">
  <h2>対象スポーツ</h2>
  <div class="home-about__suggestion__sports">
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-baseball.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-soccer.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-vollayball.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-basketball.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-bowling.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-bad.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-tennis.png') %>
    </div>
    <div class="home-about__suggestion__sports__type">
      <%= image_tag('type-tabletennis.png') %>
    </div>
  </div>
</div>