<div class="event-show">

  <%= render "event_show_top"%>

  <div class="row event-show-main">
    <div class="col-md-7 col-sm-12 event-show-main__item-introduction">
      <div class="panel panel-success participation-index">
        <div class="panel-heading participation-index__heading">
          <h3>紹介文</h3>
        </div>
        <div class="panel-body participation-index__body">
          <p><%= @event.introduction %></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-5 col-sm-12 event-show-main__item-participation">
      <div class="panel panel-success participation-index">
        <div class="panel-heading participation-index__heading">
          <h3>参加者</h3>
        </div>
        <div class="panel-body participation-index__body">
          <table>
            <% @participations.each do |participation| %>
            <tr class="text-center">
              <% if participation.user.image? %>
                <td width="200" height="100"><%= image_tag(User.find_by(id: participation.user).image.to_s, size: "100x100") unless User.find_by(id: participation.user).image.nil? %></td>
              <% else %>
                <td width="200" height="100"><%= image_tag("no_image.jpg", size: "100x100") %></td>
              <% end %>
              <td width="150" height="60"><%= link_to "#{participation.user.name}", user_path(participation.user_id) %></td>
              <td width="150" height="60"><%= "#{participation.user.age}歳" %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%= render "event_comment"%>

</div>


<%= render 'mapstyle' %>
