<%#= form_for([@event ,@game]) do |f| %>
<%= form_tag event_games_path, method: :post do |f| %>
  <div class="game-halfway-container">
    <%#<div class="line"></div>%>
    <div class="game-halfway-container__team row">
      <div class="game-halfway-container__team__item text-left col-xs-6">
        <div class="team-item-left">
          <% @member1.each do |member1| %>
            <div class="team-item-left__user">
              <% if member1.user.image? %>
                <%= image_tag(User.find_by(id: member1.user_id).image.to_s, size: "80x80") unless User.find_by(id: member1.user_id).image.nil? %>
              <% else %>
                <%= image_tag("no_image.jpg", size: "80x80") %>
              <% end %>
              <div class="text-center"><%= member1.user.name %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="game-halfway-container__team__item col-xs-6">
        <div class="team-item-right text-right">
          <% @member2.each do |member2| %>
            <div class="team-item-right__user">
              <% if member2.user.image? %>
                <%= image_tag(User.find_by(id: member2.user_id).image.to_s, size: "80x80") unless User.find_by(id: member2.user_id).image.nil? %>
              <% else %>
                <%= image_tag("no_image.jpg", size: "80x80") %>
              <% end %>
              <div class="text-center"><%= member2.user.name %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="vs">
        <%= image_tag('vs.png', size: "100x100") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <p>チーム1：<span><%= @team1.name %></span></p>
      <%= hidden_field_tag :team1, @team1.name %>
    </div>
    <div class="col-xs-6 text-center">
      <p>チーム2：<span><%= @team2.name %></span></p>
      <%= hidden_field_tag :team2, @team2.name %>
    </div>
  </div>
  <div class="score">
    <div class="score-width">
      <%= select_tag 'score1', options_for_select((1..300).to_a), class: "form-control" %>
    </div>
    <div class="score-width">
      <%= select_tag 'score2', options_for_select((1..300).to_a), class: "form-control" %>
    </div>
    <%#= select(:score2, (1..300).to_a, {include_blank: "点数"}, {class: "form-control", style: "width: 60px;"}) %>
  </div>

  <div class="text-center">
    <%= button_tag type: "submit", class: "btn btn-success btn-lg" do %>
      結果を記録する
    <% end %>
  </div>
<% end %>

