<div class="game-index text-center">

      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>試合結果一覧</h2>
        </div>
        <div class="panel-body game-index-panel__body">
          <table class="game-index__table">
            <% @games.each.with_index(1) do |game, i| %>
              <tr>
                <th class="index"><%= "#{i}試合目" %></th>
                <% if (game.win_id) < (game.lose_id) %>
                  <td class="win-lose-left">
                    <div class="winer">winer</div>
                  </td>
                  <td class="team-name"><%= Team.find_by(id: game.win_id).name %></td>
                  <td class="score"><%= game.win_score %></td>
                  <td>ー</td>
                  <td class="score"><%= game.lose_score %></td>
                  <td class="team-name"><%= Team.find_by(id: game.lose_id).name %></td>
                  <td></td>
                <% else %>
                  <td></td>
                  <td class="team-name"><%= Team.find_by(id: game.lose_id).name %></td>
                  <td class="score"><%= game.lose_score %></td>
                  <td>ー</td>
                  <td class="score"><%= game.win_score %></td>
                  <td class="team-name"><%= Team.find_by(id: game.win_id).name %></td>
                  <td class="win-lose-right">
                    <div class="winer">winer</div>
                  </td>
                <% end %>
                <td>
                  <%= link_to "詳細を見る", event_game_path(event_id: params[:event_id], id: game.id) %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= link_to "イベント詳細", event_path(id: params[:event_id]), class: "btn btn-lg btn-success" %>
</div>