<div class="game-show">
  <div class="panel panel-success game-show__panel">
    <div class="panel-heading game-show__panel__heading">
      <h2><%= "#{@game.id}試合目 試合結果" %></h2>
      <div class="game-edit">
        <%= link_to edit_event_game_path do %>
          <i class="fas fa-cog icon-orange"></i>
        <% end %>
      </div>
    </div>
    <div class="panel-body game-show__panel__body">
      <div class="row">
        <div class="col-sm-12 col-md-6 team text-center">
          <div class="text-left">
            <div class="bottom-color"><%= @team_winer_name %>チーム</div>
          </div>
          <div>
            <% @member_winer.each do |member_winer| %>
              <div class="text-center">
                <div width="100" class="text-center">
                  <% if member_winer.image? %>
                    <%= image_tag(member_winer.image.to_s, size: "80x80") unless member_winer.image.nil? %>
                  <% else %>
                    <%= image_tag("no_image.jpg", size: "80x80") %>
                  <% end %>
                </div>
                <div>
                  <%= member_winer.name %>
                </div>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="score">
            <%= "獲得点数：#{@win_score}" %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 team text-center">
          <div class="text-left">
            <div class="bottom-color"><%= @team_loser_name %>チーム</div>
          </div>
          <div>
            <% @member_loser.each do |member_loser| %>
              <div>
                <div class="text-center" width="100">
                  <% if member_loser.image? %>
                    <%= image_tag(member_loser.image.to_s, size: "80x80") unless member_loser.image.nil? %>
                  <% else %>
                    <%= image_tag("no_image.jpg", size: "80x80") %>
                  <% end %>
                </div>
                <div>
                  <%= member_loser.name %>
                </div>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="score">
            <%= "獲得点数：#{@lose_score}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <% if @game.event.finish_date > Date.today %>
      <%= link_to "新たな試合を始める", new_event_game_path(event_id: params[:event_id]), class: "btn btn-success" %>
      <%= link_to "試合結果を一覧見る", event_games_path, class: "btn btn-success" %>
    <% else %>
      <%= link_to "試合結果を一覧見る", event_games_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>